page-session {
    .card-subtitle {        
        h5 {
          color: darkgray !important;
        }
    
        margin-bottom: 10px;
    }

    .save-button {
        width: 100%;
        background-color: #C15017;
    }

    .pictures-buttons {
        text-align: center;
        
        button {
            background-color: #C15017;
        }
    }
}
