<!--
  Generated template for the SessionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{session.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <ion-card *ngIf="(session.type && session.type != 'break') || session.track">
        <ion-card-content>
          <h5 *ngIf="session.type && session.type != 'break'">{{session.type}}</h5>
          <h5 *ngIf="session.track">📍 {{session.track.title}}</h5>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="speakers && speakers.length > 0">
        <ion-card-content>
          <h5>😃 Speakers</h5>
          <div *ngFor="let speaker of speakers">
              <person [person]="speaker"></person>
          </div>
        </ion-card-content>
      </ion-card>
      
      <ion-card *ngIf="session.description">
          <ion-card-content>
              <p>{{session.description}}</p>
          </ion-card-content>
      </ion-card>
    
      <ion-card>
          <ion-card-content>
              <h3>✍️ Notes</h3>
              <ion-item>
                  <ion-textarea placeholder="Votre note..." [(ngModel)]="note"></ion-textarea>
              </ion-item>            
              <button ion-button round (click)="saveNote()" class="save-button">Sauvegarder</button>
          </ion-card-content>
      </ion-card>

      <ion-card>
          <ion-card-content>
              <h3>📷 Photos</h3>        
              <p *ngIf="images.length <= 0">Pas d'images pour le moment.</p>
              <img *ngFor="let image of images" [src]="image">
              <div class="pictures-buttons">
                <button ion-button icon-camera (click)="openCamera()"><ion-icon name="camera"></ion-icon></button>
                <button ion-button icon-image (click)="getImageFromFilesystem"><ion-icon name="image"></ion-icon></button>
              </div>
          </ion-card-content>
      </ion-card>
</ion-content>
