page-conference {
    ion-content {
        .scroll-content {
            margin-top: 56px;
        }

        .block-title {
            text-align: center;
        }

        .center-titles {
            display: inline-block;
        }

        p {
            color: white;
            margin: 0;
        }

        .title {
            font-size: 5rem;
            font-weight: 300;
        }

        .location {
            font-size: 1.7rem;
            font-weight: 300;
        }
        
        .date {
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 30px;
        }

        .block-button {
            text-align: center;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 80px;
            button {
                width: 70%;
            }
        }


    }
    .content-bg {
        background: url('/assets/imgs/space_1.jpg') no-repeat, #C15017;
        background-size: 100vh;
    }

    ion-header {
        .toolbar {
            position: absolute;
        
            .toolbar-background {
            background: transparent;
            }

            .toolbar-title {
            color: black;
            }

            .toolbar-background-ios {
                border: none;
            }
        }
    }

    .bar-button-default-ios {
        color: black;
    }


}
