<!--
  Generated template for the ConferencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding class="content-bg">
  <div class="block-title">
    <div class="center-titles">
      <p class="title">DEVFEST</p>
      <p class="location">NANTES 2018</p>
    </div>
    <p class="date">OCTOBER 18-19, 2018</p>
  </div>

  <div class="block-button">
    <button ion-button color="light" round>Voir les sessions</button>
    <button ion-button color="light" round>Voir les présentateurs</button>
  </div>
</ion-content>