page-sessions {
    h4 {
        margin-left: 12px;
        font-weight: normal;
        font-size: 20px;
    }

    .timeslot {
        margin-bottom: 40px;
    }

    h2 {
        text-transform: uppercase;
        font-weight: normal;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 15px;
    }
}
