<!--
  Generated template for the SessionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sessions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!-- {{timeslots | json}} -->
  <div *ngFor="let day of timeslots" class="day">
      <h2>{{day.date}}</h2>
      <div *ngFor="let timeslot of day.timeslots" class="timeslot">
        <h4>{{timeslot.startTime}} - {{timeslot.endTime}}</h4>
        <div *ngFor="let session of timeslot.sessions">
            <session-summary [session]="session"></session-summary>
        </div>
      </div>
  </div>
</ion-content>