<!--
  Generated template for the PresentateursPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let speaker of speakers">
        <person [person]="speaker"></person>
    </div>
</ion-content>
