page-presentateur {
    ion-content {
        .bio {
            text-align: center;
        
            img {
                width: 100px;
                height: 100px;
                border-radius: 50px;
                margin-top: 30px;
            }
        
            p {
                text-align: justify;
                width: 80%;
                margin: auto;
                margin-bottom: 30px;
            }
    
           h3 {
            margin-bottom: 40px;
           }
    
            hr {
                height: 3px;
                border: none;
                background-color: lightgray;
                width: 80%;
            }
        }

        h3 {
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            margin-bottom: 15px;
        }

        session-summary {
            width: 80%;
        }
    }
}
