<!--
  Generated template for the PresentateurPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ speaker.name }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="bio">
      <img [src]="'https://devfest.gdgnantes.com' + speaker.photoUrl" alt="Photo of the speaker.">
      <h3>{{speaker.company}} - {{speaker.country}}</h3>
      <p>{{speaker.bio}}</p>
      <hr/>
  </div>
  <h3>Ses conférences :</h3>
  <div *ngFor="let session of sessions">
    <session-summary [session]="session"></session-summary>
  </div>
</ion-content>
