<!--
  Generated template for the PhonePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Téléphone</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Platform: {{device.platform}}<br/>
  Model: {{device.model}}<br/>
  UUID: {{device.uuid}}<br/>
  Version: {{device.version}}<br/>
  Network: {{network.type}}
</ion-content>
