<ion-card (click)="displaySpeaker()">
  <ion-item>
    <ion-avatar item-start>
        <img [src]="'https://devfest.gdgnantes.com' + person.photoUrl"> 
    </ion-avatar>
    <h2>{{ person.name }}</h2>
    <p>{{ person.company }}</p>
  </ion-item>
</ion-card>
  