<ion-card (click)="displayDetails()">
    <img *ngIf="session.image" [src]="'https://devfest.gdgnantes.com' + session.image"/>
    <ion-card-content>
        <ion-card-title>
            {{session.title}}
        </ion-card-title>
        <div class="card-subtitle">
            <h5 *ngIf="session.type && session.type != 'break'">{{session.type}}</h5>
            <h5 *ngIf="session.track">📍 {{session.track.title}}</h5>
        </div>
        <p>{{session.description}}</p>
    </ion-card-content>
</ion-card>